<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.goods.GoodsReadDao">

	<sql id="Base_Column_List" >
		goods_id,full_name,short_name,detail,bar_code,goods_attribute_id,goods_type_id,status,measure_id,repository_id,provider_id,min_stock,max_stock,batch_manage,begin_date,invalid_date,create_time,modify_time 
	</sql>
	
	<select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.goods.Goods">
        select <include refid="Base_Column_List"/>
		from goods
        <include refid="Where_Clause"/>
        <if test="startIndex != null and endIndex != null">
        	limit #{startIndex}, #{endIndex}
        </if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from goods
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="goodsId != null and goodsId !=''">
			and goods_id = #{goodsId}
			</if>
			<if test="fullName != null and fullName !=''">
			and full_name like CONCAT('%', TRIM(#{fullName}), '%')
			</if>
			<if test="shortName != null and shortName !=''">
			and short_name = #{shortName}
			</if>
			<if test="detail != null and detail !=''">
			and detail = #{detail}
			</if>
			<if test="barCode != null and barCode !=''">
			and bar_code = #{barCode}
			</if>
			<if test="goodsAttributeId != null and goodsAttributeId !=''">
			and goods_attribute_id = #{goodsAttributeId}
			</if>
			<if test="goodsTypeId != null and goodsTypeId !=''">
			and goods_type_id = #{goodsTypeId}
			</if>
			<if test="status != null and status != ''">
			and status = #{status}
			</if>
			<if test="measureId != null and measureId !=''">
			and measure_id = #{measureId}
			</if>
			<if test="repositoryId != null and repositoryId !=''">
			and repository_id = #{repositoryId}
			</if>
			<if test="providerId != null and providerId !=''">
			and provider_id = #{providerId}
			</if>
			<if test="minStock != null and minStock !=''">
			and min_stock = #{minStock}
			</if>
			<if test="maxStock != null and maxStock !=''">
			and max_stock = #{maxStock}
			</if>
			<if test="batchManage != null and batchManage !=''">
			and batch_manage = #{batchManage}
			</if>
			<if test="startTime != null and startTime != ''">
			and begin_date &gt; #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
			and begin_date &lt; #{endTime}
			</if>
			<!-- 
			<if test="beginDate != null and beginDate !=''">
			and begin_date = #{beginDate}
			</if>
			 -->
			<if test="invalidDate != null and invalidDate !=''">
			and invalid_date = #{invalidDate}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="modifyTime != null and modifyTime !=''">
			and modify_time = #{modifyTime}
			</if>
        </where>
    </sql>

</mapper>