<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.goods.GoodsCateReadDao">

	<sql id="Base_Column_List" >
		id,goods_type_id,type,pid,name,path,pic,scaling,create_id,update_id,create_time,update_time,sort,status,grade 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.goods.GoodsCate">
        select <include refid="Base_Column_List" />
		from goods_cate
		where id = #{id} 
    </select>
	
	<select id="getGoodsCateChildren" parameterType="java.lang.Integer" resultType="com.lzl.bean.javashop.goods.GoodsCate">
		select <include refid="Base_Column_List" />
		from goods_cate
		where pid = #{id} 
	</select>
    
    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.goods.GoodsCate">
        select <include refid="Base_Column_List" />
		from goods_cate
        <include refid="Where_Clause"/>
		<!-- <if test="size != null and size &gt; 0">limit #{start},#{size}</if> -->
    </select>
    
	<select id="getTopLevel" resultType="com.lzl.bean.javashop.goods.GoodsCate">
		select <include refid="Base_Column_List" />
		from goods_cate
		where pid = 0
	</select>
	
	<select id="getAllChildren" resultType="com.lzl.bean.javashop.goods.GoodsCate">
		select <include refid="Base_Column_List"/>
		from goods_cate
		where pid != 0
	</select>
	
	<select id="getChildren" parameterType="java.lang.Integer" resultType="com.lzl.bean.javashop.goods.GoodsCate">
		select <include refid="Base_Column_List" />
		from goods_cate
		where pid = #{parentId}
	</select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from goods_cate
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id != ''">
			and id = #{id}
			</if>
			<if test="goodsTypeId != null and goodsTypeId !=''">
			and goods_type_id = #{goodsTypeId}
			</if>
			<if test="type != null and type !=''">
			and type = #{type}
			</if>
			<if test="pid != null">
			and pid = #{pid}
			</if>
			<if test="name != null and name !=''">
			and name like CONCAT('%', TRIM(#{name}), '%') 
			</if>
			<if test="path != null and path !=''">
			and path = #{path}
			</if>
			<if test="pic != null and pic !=''">
			and pic = #{pic}
			</if>
			<if test="scaling != null and scaling !=''">
			and scaling = #{scaling}
			</if>
			<if test="createId != null and createId !=''">
			and create_id = #{createId}
			</if>
			<if test="updateId != null and updateId !=''">
			and update_id = #{updateId}
			</if>
			<if test="searchStartTime != null and searchStartTime != ''">
			and create_time &gt;= #{searchStartTime}
			</if>
			<if test="searchEndTime != null and searchEndTime != ''">
			and create_time &lt;= #{searchEndTime}
			</if>
			<if test="updateTime != null">
			and update_time = #{updateTime}
			</if>
			<if test="sort != null and sort !=''">
			and sort = #{sort}
			</if>
			<if test="status != ''">
			and status = #{status}
			</if>
			<if test="grade != null">
			and grade = #{grade}
			</if>
        </where>
    </sql>

</mapper>