<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.measure.MeasureGroupWriteDao">
	
	<delete id="deleteMeasureGroupById" parameterType="java.lang.Integer">
		delete from measure_group
		where measure_group_id = #{measureGroupId}
	</delete>
	
	<insert id="post">
		insert into measure_group (measure_group_id,measure_group_name,create_time,modify_time )
		values (#{measureGroupId},#{measureGroupName},#{createTime},#{modifyTime})
	</insert>
	
	 <update id="put">
        update measure_group
        <set>
				measure_group_id = #{measureGroupId},
				measure_group_name = #{measureGroupName},
				create_time = #{createTime},
				modify_time = #{modifyTime},
        </set>
        where measure_group_id = #{measureGroupId} 
    </update>

</mapper>