<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.provider.ProviderTypeWriteDao">
	
	<delete id="deleteProviderTypeById" parameterType="java.lang.Integer">
		delete from provider_type
		where provider_type_id = #{providerTypeId}
	</delete>
	
	<insert id="post">
		insert into provider_type (provider_type_id,provider_type_name,create_time,modify_time )
		values (#{providerTypeId},#{providerTypeName},#{createTime},#{modifyTime})
	</insert>
	
	 <update id="put">
        update provider_type
        <set>
				provider_type_id = #{providerTypeId},
				provider_type_name = #{providerTypeName},
				create_time = #{createTime},
				modify_time = #{modifyTime},
        </set>
        where provider_type_id = #{providerTypeId} 
    </update>

</mapper>