<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.provider.ProviderWriteDao">
	
	<delete id="deleteProviderById" parameterType="java.lang.Integer">
		delete from provider
		where provider_id = #{providerId}
	</delete>
	
	<insert id="post">
		insert into provider (provider_id,provider_name,provider_type_id,location_id,linkman,telephone,tax_rate_id,address,post_code,email,wechat,business_licence,remark,apply_date,create_time,modify_time )
		values (#{providerId},#{providerName},#{providerTypeId},#{locationId},#{linkman},#{telephone},#{taxRateId},#{address},#{postCode},#{email},#{wechat},#{businessLicence},#{remark},#{applyDate},#{createTime},#{modifyTime})
	</insert>
	
	 <update id="put">
        update provider
        <set>
				provider_id = #{providerId},
				provider_name = #{providerName},
				provider_type_id = #{providerTypeId},
				location_id = #{locationId},
				linkman = #{linkman},
				telephone = #{telephone},
				tax_rate_id = #{taxRateId},
				address = #{address},
				post_code = #{postCode},
				email = #{email},
				wechat = #{wechat},
				business_licence = #{businessLicence},
				remark = #{remark},
				apply_date = #{applyDate},
				create_time = #{createTime},
				modify_time = #{modifyTime},
        </set>
        where provider_id = #{providerId} 
    </update>

</mapper>