<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.goods.GoodsCateWriteDao">
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from goods_cate
		where id = #{id}
	</delete>
	
	<update id="batchDelete" parameterType="java.util.List">
		update goods_cate
		<foreach collection="list" item="item" index="index">
			set status = 4 where id = #{item.id}
		</foreach>
	</update>
	
	<insert id="post">
		insert into goods_cate (id,goods_type_id,type,pid,name,path,pic,scaling,create_id,update_id,create_time,update_time,sort,status,grade )
		values (#{id},#{goodsTypeId},#{type},#{pid},#{name},#{path},#{pic},#{scaling},#{createId},#{updateId},now(),now(),#{sort},#{status},#{grade})
	</insert>

    <update id="put">
        update goods_cate
        <set>
			<if test="id != null and id !=''">
			id = #{id},
			</if>	
			<if test="goodsTypeId != null and goodsTypeId !=''">
			goods_type_id = #{goodsTypeId},
			</if>	
			<if test="type != null and type !=''">
			type = #{type},
			</if>	
			<if test="pid != null and pid !=''">
			pid = #{pid},
			</if>	
			<if test="name != null and name !=''">
			name = #{name},
			</if>	
			<if test="path != null and path !=''">
			path = #{path},
			</if>	
			<if test="pic != null and pic !=''">
			pic = #{pic},
			</if>	
			<if test="scaling != null and scaling !=''">
			scaling = #{scaling},
			</if>	
			<if test="createId != null and createId !=''">
			create_id = #{createId},
			</if>	
			<if test="updateId != null and updateId !=''">
			update_id = #{updateId},
			</if>	
			update_time = now(),
			<if test="sort != null and sort !=''">
			sort = #{sort},
			</if>	
			<if test="status != null and status !=''">
			status = #{status},
			</if>	
			<if test="grade != null and grade !=''">
			grade = #{grade},
			</if>	
        </set>
        where id = #{id} 
    </update>

</mapper>