<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.goods.GoodsProviderWriteDao">
	
	<delete id="deleteGoodsProviderById" parameterType="java.lang.Integer">
		delete from goods_provider
		where goods_provider_id = #{goodsProviderId}
	</delete>
	
	<insert id="post">
		insert into goods_provider (goods_provider_id,goods_id,provider_id,create_time,modify_time )
		values (#{goodsProviderId},#{goodsId},#{providerId},#{createTime},#{modifyTime})
	</insert>
	
	 <update id="put">
        update goods_provider
        <set>
				goods_provider_id = #{goodsProviderId},
				goods_id = #{goodsId},
				provider_id = #{providerId},
				create_time = #{createTime},
				modify_time = #{modifyTime},
        </set>
        where goods_provider_id = #{goodsProviderId} 
    </update>

</mapper>