<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.ConfigReadDao">

	<sql id="Base_Column_List" >
		id,integral_scale 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.Config">
        select <include refid="Base_Column_List" />
		from config
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.Config">
        select <include refid="Base_Column_List" />
		from config
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from config
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="integralScale != null and integralScale !=''">
			and integral_scale = #{integralScale}
			</if>
        </where>
    </sql>

</mapper>