<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.DeliverymanApplyReadDao">

	<sql id="Base_Column_List" >
		id,member_id,real_name,gender,phone,pic,card_pic,card_no,longitude,latitude,apply_status,status,apply_time,check_time,apply_description 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.DeliverymanApply">
        select <include refid="Base_Column_List" />
		from deliveryman_apply
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.DeliverymanApply">
        select <include refid="Base_Column_List" />
		from deliveryman_apply
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from deliveryman_apply
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="memberId != null and memberId !=''">
			and member_id = #{memberId}
			</if>
			<if test="realName != null and realName !=''">
			and real_name = #{realName}
			</if>
			<if test="gender != null and gender !=''">
			and gender = #{gender}
			</if>
			<if test="phone != null and phone !=''">
			and phone = #{phone}
			</if>
			<if test="pic != null and pic !=''">
			and pic = #{pic}
			</if>
			<if test="cardPic != null and cardPic !=''">
			and card_pic = #{cardPic}
			</if>
			<if test="cardNo != null and cardNo !=''">
			and card_no = #{cardNo}
			</if>
			<if test="longitude != null and longitude !=''">
			and longitude = #{longitude}
			</if>
			<if test="latitude != null and latitude !=''">
			and latitude = #{latitude}
			</if>
			<if test="applyStatus != null and applyStatus !=''">
			and apply_status = #{applyStatus}
			</if>
			<if test="status != null and status !=''">
			and status = #{status}
			</if>
			<if test="applyTime != null and applyTime !=''">
			and apply_time = #{applyTime}
			</if>
			<if test="checkTime != null and checkTime !=''">
			and check_time = #{checkTime}
			</if>
			<if test="applyDescription != null and applyDescription !=''">
			and apply_description = #{applyDescription}
			</if>
        </where>
    </sql>

</mapper>