<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.MemberCollectionProductReadDao">

	<sql id="Base_Column_List" >
		id,member_id,product_id,cate_id,seller_id,create_time,update_time,state 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.MemberCollectionProduct">
        select <include refid="Base_Column_List" />
		from member_collection_product
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.MemberCollectionProduct">
        select <include refid="Base_Column_List" />
		from member_collection_product
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from member_collection_product
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="memberId != null and memberId !=''">
			and member_id = #{memberId}
			</if>
			<if test="productId != null and productId !=''">
			and product_id = #{productId}
			</if>
			<if test="cateId != null and cateId !=''">
			and cate_id = #{cateId}
			</if>
			<if test="sellerId != null and sellerId !=''">
			and seller_id = #{sellerId}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime !=''">
			and update_time = #{updateTime}
			</if>
			<if test="state != null and state !=''">
			and state = #{state}
			</if>
        </where>
    </sql>

</mapper>