<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.OrdersReadDao">

	<sql id="Base_Column_List" >
		id,order_sn,relation_order_sn,order_type,seller_id,member_id,member_name,order_state,pay_time,payment_status,invoice_status,invoice_title,invoice_type,money_product,money_logistics,money_order,money_paid_balance,money_paid_reality,money_coupon,money_act_full,money_discount,money_back,money_integral,integral,coupon_user_id,act_full_id,ip,payment_name,payment_code,name,province_id,city_id,area_id,town,address_info,house_no,house_name,mobile,email,zip_code,remark,deliver_time,finish_time,trade_sn,source,logistics_id,logistics_name,logistics_number,is_codconfim,codconfirm_id,codconfirm_name,codconfirm_time,codconfirm_remark,codconfirm_state,create_time,update_time,delivery_time,delivery_type,get_code,withdraw_id,active 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.Orders">
        select <include refid="Base_Column_List" />
		from orders
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.Orders">
        select <include refid="Base_Column_List" />
		from orders
        <include refid="Where_Clause"/>
        order by id desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from orders
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="orderSn != null and orderSn !=''">
			and order_sn like CONCAT('%', #{orderSn}, '%')
			</if>
			<if test="relationOrderSn != null and relationOrderSn !=''">
			and relation_order_sn = like CONCAT('%', #{relationOrderSn}, '%')
			</if>
			<if test="sellerId != null and sellerId !=''">
			and seller_id = #{sellerId}
			</if>
			<if test="memberId != null and memberId !=''">
			and member_id = #{memberId}
			</if>
			<if test="orderState != null and orderState !=''">
				<choose>
				    <when test="orderState == 6 ">
				        and order_state in (5,6)
				    </when>
				    <when test="orderState == 8 ">
				        and order_state in (1,2,3,4)
				    </when>
				    <otherwise>
				        and order_state = #{orderState}
					</otherwise>
				</choose>
			</if>
			<if test="paymentStatus != null and paymentStatus !=''">
			and payment_status = #{paymentStatus}
			</if>
			<if test="moneyProduct != null and moneyProduct !=''">
			and money_product = #{moneyProduct}
			</if>
			<if test="moneyLogistics != null and moneyLogistics !=''">
			and money_logistics = #{moneyLogistics}
			</if>
			<if test="moneyOrder != null and moneyOrder !=''">
			and money_order = #{moneyOrder}
			</if>
			<if test="moneyPaidReality != null and moneyPaidReality !=''">
			and money_paid_reality = #{moneyPaidReality}
			</if>
			<if test="moneyCoupon != null and moneyCoupon !=''">
			and money_coupon = #{moneyCoupon}
			</if>
			<if test="moneyActFull != null and moneyActFull !=''">
			and money_act_full = #{moneyActFull}
			</if>
			<if test="moneyDiscount != null and moneyDiscount !=''">
			and money_discount = #{moneyDiscount}
			</if>
			<if test="paymentName != null and paymentName !=''">
			and payment_name = #{paymentName}
			</if>
			<if test="paymentCode != null and paymentCode !=''">
			and payment_code = #{paymentCode}
			</if>
			<if test="startTime != null and startTime !=''">
			and create_time &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime !=''">
			and create_time &lt;= #{endTime}
			</if>
			<if test="deliveryType != null and deliveryType !=''">
			and delivery_type = #{deliveryType}
			</if>
			<if test="getCode != null and getCode !=''">
			and get_code = #{getCode}
			</if>
			<if test="withdrawId != null and withdrawId !=''">
			and withdraw_id = #{withdrawId}
			</if>
			<if test="active != null and active !=''">
			and active = #{active}
			</if>
        </where>
    </sql>

</mapper>