<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.PlatProductReadDao">

	<sql id="Base_Column_List" >
		id,product_code,template_type,product_cate_id,name1,product_brand_id,market_price,mal_mobile_price,product_stock,norm_name,manufacturer,origin,sku,state,description,packing,master_img,update_time,create_time 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.PlatProduct">
        select <include refid="Base_Column_List" />
		from plat_product
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.PlatProduct">
        select <include refid="Base_Column_List" />
		from plat_product
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from plat_product
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="productCode != null and productCode !=''">
			and product_code = #{productCode}
			</if>
			<if test="templateType != null and templateType !=''">
			and template_type = #{templateType}
			</if>
			<if test="productCateId != null and productCateId !=''">
			and product_cate_id = #{productCateId}
			</if>
			<if test="name1 != null and name1 !=''">
			and name1 = #{name1}
			</if>
			<if test="productBrandId != null and productBrandId !=''">
			and product_brand_id = #{productBrandId}
			</if>
			<if test="marketPrice != null and marketPrice !=''">
			and market_price = #{marketPrice}
			</if>
			<if test="malMobilePrice != null and malMobilePrice !=''">
			and mal_mobile_price = #{malMobilePrice}
			</if>
			<if test="productStock != null and productStock !=''">
			and product_stock = #{productStock}
			</if>
			<if test="normName != null and normName !=''">
			and norm_name = #{normName}
			</if>
			<if test="manufacturer != null and manufacturer !=''">
			and manufacturer = #{manufacturer}
			</if>
			<if test="origin != null and origin !=''">
			and origin = #{origin}
			</if>
			<if test="sku != null and sku !=''">
			and sku = #{sku}
			</if>
			<if test="state != null and state !=''">
			and state = #{state}
			</if>
			<if test="description != null and description !=''">
			and description = #{description}
			</if>
			<if test="packing != null and packing !=''">
			and packing = #{packing}
			</if>
			<if test="masterImg != null and masterImg !=''">
			and master_img = #{masterImg}
			</if>
			<if test="updateTime != null and updateTime !=''">
			and update_time = #{updateTime}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
        </where>
    </sql>

</mapper>