<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.ProductBrandReadDao">

	<sql id="Base_Column_List" >
		id,name,name_first,image,look_method,top,sort,create_id,create_time,update_id,update_time,state 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.ProductBrand">
        select <include refid="Base_Column_List" />
		from product_brand
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.ProductBrand">
        select <include refid="Base_Column_List" />
		from product_brand
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from product_brand
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="name != null and name !=''">
			and name = #{name}
			</if>
			<if test="nameFirst != null and nameFirst !=''">
			and name_first = #{nameFirst}
			</if>
			<if test="image != null and image !=''">
			and image = #{image}
			</if>
			<if test="lookMethod != null and lookMethod !=''">
			and look_method = #{lookMethod}
			</if>
			<if test="top != null and top !=''">
			and top = #{top}
			</if>
			<if test="sort != null and sort !=''">
			and sort = #{sort}
			</if>
			<if test="createId != null and createId !=''">
			and create_id = #{createId}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="updateId != null and updateId !=''">
			and update_id = #{updateId}
			</if>
			<if test="updateTime != null and updateTime !=''">
			and update_time = #{updateTime}
			</if>
			<if test="state != null and state !=''">
			and state = #{state}
			</if>
        </where>
    </sql>

</mapper>