<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.PromotionReadDao">

	<sql id="Base_Column_List" >
		promotion_id,parent_id,seller_id,name,type,content,status,start_time,end_time,reg_deadline,user_type,user_id,description,create_time 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.Promotion">
        select <include refid="Base_Column_List" />
		from promotion
		where promotion_id = #{promotionId} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.Promotion">
        select <include refid="Base_Column_List" />
		from promotion
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from promotion
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="promotionId != null and promotionId !=''">
			and promotion_id = #{promotionId}
			</if>
			<if test="parentId != null and parentId !=''">
			and parent_id = #{parentId}
			</if>
			<if test="sellerId != null and sellerId !=''">
			and seller_id = #{sellerId}
			</if>
			<if test="name != null and name !=''">
			and name = #{name}
			</if>
			<if test="type != null and type !=''">
			and type = #{type}
			</if>
			<if test="content != null and content !=''">
			and content = #{content}
			</if>
			<if test="status != null and status !=''">
			and status = #{status}
			</if>
			<if test="startTime != null and startTime !=''">
			and start_time = #{startTime}
			</if>
			<if test="endTime != null and endTime !=''">
			and end_time = #{endTime}
			</if>
			<if test="regDeadline != null and regDeadline !=''">
			and reg_deadline = #{regDeadline}
			</if>
			<if test="userType != null and userType !=''">
			and user_type = #{userType}
			</if>
			<if test="userId != null and userId !=''">
			and user_id = #{userId}
			</if>
			<if test="description != null and description !=''">
			and description = #{description}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
        </where>
    </sql>

</mapper>