<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.RepositoryReadDao">

	<sql id="Base_Column_List" >
		repository_id,repository_name,provider_id,address,real_virtual,status,available,level,create_time,modify_time 
	</sql>
	
	<select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.Repository">
        select <include refid="Base_Column_List"/>
		from repository
        <include refid="Where_Clause"/>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from repository
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="repositoryId != null and repositoryId !=''">
			and repository_id = #{repositoryId}
			</if>
			<if test="repositoryName != null and repositoryName !=''">
			and repository_name = #{repositoryName}
			</if>
			<if test="providerId != null and providerId !=''">
			and provider_id = #{providerId}
			</if>
			<if test="address != null and address !=''">
			and address = #{address}
			</if>
			<if test="realVirtual != null and realVirtual !=''">
			and real_virtual = #{realVirtual}
			</if>
			<if test="status != null and status !=''">
			and status = #{status}
			</if>
			<if test="available != null and available !=''">
			and available = #{available}
			</if>
			<if test="level != null and level !=''">
			and level = #{level}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="modifyTime != null and modifyTime !=''">
			and modify_time = #{modifyTime}
			</if>
        </where>
    </sql>

</mapper>