<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.SellerWithdrawReadDao">

	<sql id="Base_Column_List" >
		withdraw_id,seller_id,withdraw_amount,rate,real_amount,bank_code,bank_more,err_message,status,create_time,accept_time,finish_time 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.SellerWithdraw">
        select <include refid="Base_Column_List" />
		from seller_withdraw
		where withdraw_id = #{withdrawId} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.SellerWithdraw">
        select <include refid="Base_Column_List" />
		from seller_withdraw
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from seller_withdraw
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="withdrawId != null and withdrawId !=''">
			and withdraw_id = #{withdrawId}
			</if>
			<if test="sellerId != null and sellerId !=''">
			and seller_id = #{sellerId}
			</if>
			<if test="withdrawAmount != null and withdrawAmount !=''">
			and withdraw_amount = #{withdrawAmount}
			</if>
			<if test="rate != null and rate !=''">
			and rate = #{rate}
			</if>
			<if test="realAmount != null and realAmount !=''">
			and real_amount = #{realAmount}
			</if>
			<if test="bankCode != null and bankCode !=''">
			and bank_code = #{bankCode}
			</if>
			<if test="bankMore != null and bankMore !=''">
			and bank_more = #{bankMore}
			</if>
			<if test="errMessage != null and errMessage !=''">
			and err_message = #{errMessage}
			</if>
			<if test="status != null and status !=''">
			and status = #{status}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="acceptTime != null and acceptTime !=''">
			and accept_time = #{acceptTime}
			</if>
			<if test="finishTime != null and finishTime !=''">
			and finish_time = #{finishTime}
			</if>
        </where>
    </sql>

</mapper>