<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.SellerManageCateReadDao">

	<sql id="Base_Column_List" >
		id,seller,create_id,create_time,product_cate_id,product_cate_name,state,opt_id,opt_time,stop_id,stop_time,stop_reason 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.SellerManageCate">
        select <include refid="Base_Column_List" />
		from seller_manage_cate
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.SellerManageCate">
        select <include refid="Base_Column_List" />
		from seller_manage_cate
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from seller_manage_cate
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="seller != null and seller !=''">
			and seller = #{seller}
			</if>
			<if test="createId != null and createId !=''">
			and create_id = #{createId}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="productCateId != null and productCateId !=''">
			and product_cate_id = #{productCateId}
			</if>
			<if test="productCateName != null and productCateName !=''">
			and product_cate_name = #{productCateName}
			</if>
			<if test="state != null and state !=''">
			and state = #{state}
			</if>
			<if test="optId != null and optId !=''">
			and opt_id = #{optId}
			</if>
			<if test="optTime != null and optTime !=''">
			and opt_time = #{optTime}
			</if>
			<if test="stopId != null and stopId !=''">
			and stop_id = #{stopId}
			</if>
			<if test="stopTime != null and stopTime !=''">
			and stop_time = #{stopTime}
			</if>
			<if test="stopReason != null and stopReason !=''">
			and stop_reason = #{stopReason}
			</if>
        </where>
    </sql>

</mapper>