<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.SellerRetrievePwdReadDao">

	<sql id="Base_Column_List" >
		id,name,silver_license_image,state,refuse_reason,audit_time,create_time,code 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.SellerRetrievePwd">
        select <include refid="Base_Column_List" />
		from seller_retrieve_pwd
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.SellerRetrievePwd">
        select <include refid="Base_Column_List" />
		from seller_retrieve_pwd
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from seller_retrieve_pwd
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="name != null and name !=''">
			and name = #{name}
			</if>
			<if test="silverLicenseImage != null and silverLicenseImage !=''">
			and silver_license_image = #{silverLicenseImage}
			</if>
			<if test="state != null and state !=''">
			and state = #{state}
			</if>
			<if test="refuseReason != null and refuseReason !=''">
			and refuse_reason = #{refuseReason}
			</if>
			<if test="auditTime != null and auditTime !=''">
			and audit_time = #{auditTime}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="code != null and code !=''">
			and code = #{code}
			</if>
        </where>
    </sql>

</mapper>