<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.SupplierUserReadDao">

	<sql id="Base_Column_List" >
		id,name,password,code,real_name,phone,job,supplier_id,role_id,state,create_id,create_time,update_id,update_time 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.SupplierUser">
        select <include refid="Base_Column_List" />
		from supplier_user
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.SupplierUser">
        select <include refid="Base_Column_List" />
		from supplier_user
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from supplier_user
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="name != null and name !=''">
			and name = #{name}
			</if>
			<if test="password != null and password !=''">
			and password = #{password}
			</if>
			<if test="code != null and code !=''">
			and code = #{code}
			</if>
			<if test="realName != null and realName !=''">
			and real_name = #{realName}
			</if>
			<if test="phone != null and phone !=''">
			and phone = #{phone}
			</if>
			<if test="job != null and job !=''">
			and job = #{job}
			</if>
			<if test="supplierId != null and supplierId !=''">
			and supplier_id = #{supplierId}
			</if>
			<if test="roleId != null and roleId !=''">
			and role_id = #{roleId}
			</if>
			<if test="state != null and state !=''">
			and state = #{state}
			</if>
			<if test="createId != null and createId !=''">
			and create_id = #{createId}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="updateId != null and updateId !=''">
			and update_id = #{updateId}
			</if>
			<if test="updateTime != null and updateTime !=''">
			and update_time = #{updateTime}
			</if>
        </where>
    </sql>

</mapper>