<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.SupplierRolesReadDao">

	<sql id="Base_Column_List" >
		id,supplier_id,roles_name,role_code,content,user_id,create_time,update_time,status 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.SupplierRoles">
        select <include refid="Base_Column_List" />
		from supplier_roles
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.SupplierRoles">
        select <include refid="Base_Column_List" />
		from supplier_roles
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from supplier_roles
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="supplierId != null and supplierId !=''">
			and supplier_id = #{supplierId}
			</if>
			<if test="rolesName != null and rolesName !=''">
			and roles_name = #{rolesName}
			</if>
			<if test="roleCode != null and roleCode !=''">
			and role_code = #{roleCode}
			</if>
			<if test="content != null and content !=''">
			and content = #{content}
			</if>
			<if test="userId != null and userId !=''">
			and user_id = #{userId}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime !=''">
			and update_time = #{updateTime}
			</if>
			<if test="status != null and status !=''">
			and status = #{status}
			</if>
        </where>
    </sql>

</mapper>