<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.read.SupplierReadDao">

	<sql id="Base_Column_List" >
		id,member_id,name,supplier_name,supplier_logo,supplier_grade,score_service,score_deliver_goods,score_description,product_number,collection_number,create_time,sale_money,order_count,order_count_over,supplier_keyword,supplier_des,audit_status,store_slide 
	</sql>

    <select id="getById" parameterType="Integer" resultType="com.lzl.bean.javashop.Supplier">
        select <include refid="Base_Column_List" />
		from supplier
		where id = #{id} 
    </select>

    <select id="get" parameterType="java.util.Map" resultType="com.lzl.bean.javashop.Supplier">
        select <include refid="Base_Column_List" />
		from supplier
        <include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
		from supplier
        <include refid="Where_Clause"/>
    </select>
	
	<sql id="Where_Clause">
        <where>
			<if test="id != null and id !=''">
			and id = #{id}
			</if>
			<if test="memberId != null and memberId !=''">
			and member_id = #{memberId}
			</if>
			<if test="name != null and name !=''">
			and name = #{name}
			</if>
			<if test="supplierName != null and supplierName !=''">
			and supplier_name = #{supplierName}
			</if>
			<if test="supplierLogo != null and supplierLogo !=''">
			and supplier_logo = #{supplierLogo}
			</if>
			<if test="supplierGrade != null and supplierGrade !=''">
			and supplier_grade = #{supplierGrade}
			</if>
			<if test="scoreService != null and scoreService !=''">
			and score_service = #{scoreService}
			</if>
			<if test="scoreDeliverGoods != null and scoreDeliverGoods !=''">
			and score_deliver_goods = #{scoreDeliverGoods}
			</if>
			<if test="scoreDescription != null and scoreDescription !=''">
			and score_description = #{scoreDescription}
			</if>
			<if test="productNumber != null and productNumber !=''">
			and product_number = #{productNumber}
			</if>
			<if test="collectionNumber != null and collectionNumber !=''">
			and collection_number = #{collectionNumber}
			</if>
			<if test="createTime != null and createTime !=''">
			and create_time = #{createTime}
			</if>
			<if test="saleMoney != null and saleMoney !=''">
			and sale_money = #{saleMoney}
			</if>
			<if test="orderCount != null and orderCount !=''">
			and order_count = #{orderCount}
			</if>
			<if test="orderCountOver != null and orderCountOver !=''">
			and order_count_over = #{orderCountOver}
			</if>
			<if test="supplierKeyword != null and supplierKeyword !=''">
			and supplier_keyword = #{supplierKeyword}
			</if>
			<if test="supplierDes != null and supplierDes !=''">
			and supplier_des = #{supplierDes}
			</if>
			<if test="auditStatus != null and auditStatus !=''">
			and audit_status = #{auditStatus}
			</if>
			<if test="storeSlide != null and storeSlide !=''">
			and store_slide = #{storeSlide}
			</if>
        </where>
    </sql>

</mapper>