<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.ConfigWriteDao">
	
	<insert id="post">
		insert into config (id,integral_scale )
		values (#{id},#{integralScale})
	</insert>

    <update id="put">
        update config
        <set>
				id = #{id},
				integral_scale = #{integralScale},
        </set>
        where id = #{id} 
    </update>

</mapper>