<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.FeedbackWriteDao">
	
	<insert id="post">
		insert into feedback (id,user_id,type,content,pic,create_time )
		values (#{id},#{userId},#{type},#{content},#{pic},#{createTime})
	</insert>

    <update id="put">
        update feedback
        <set>
				id = #{id},
				user_id = #{userId},
				type = #{type},
				content = #{content},
				pic = #{pic},
				create_time = #{createTime},
        </set>
        where id = #{id} 
    </update>

</mapper>