<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.LogProductClickWriteDao">
	
	<insert id="post">
		insert into log_product_click (product_id,supplier_id,seller_id,member_id,create_time )
		values (#{productId},#{supplierId},#{sellerId},#{memberId},#{createTime})
	</insert>

    <update id="put">
        update log_product_click
        <set>
				product_id = #{productId},
				supplier_id = #{supplierId},
				seller_id = #{sellerId},
				member_id = #{memberId},
				create_time = #{createTime},
        </set>
        where  
    </update>

</mapper>