<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejavashop.dao.shop.write.provider.MeasureWriteDao">
	
	<delete id="deleteMeasureById" parameterType="java.lang.Integer">
		delete from measure
		where measure_id = #{measureId}
	</delete>
	
	<insert id="post">
		insert into measure (measure_id,measure_name,measure_group_id,measure_size,min_size,decimal_num,create_time,modify_time )
		values (#{measureId},#{measureName},#{measureGroupId},#{measureSize},#{minSize},#{decimalNum},#{createTime},#{modifyTime})
	</insert>
	
	 <update id="put">
        update measure
        <set>
				measure_id = #{measureId},
				measure_name = #{measureName},
				measure_group_id = #{measureGroupId},
				measure_size = #{measureSize},
				min_size = #{minSize},
				decimal_num = #{decimalNum},
				create_time = #{createTime},
				modify_time = #{modifyTime},
        </set>
        where measure_id = #{measureId} 
    </update>

</mapper>