<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.MemberCouponsWriteDao">
	
	<insert id="post">
		insert into member_coupons (id,user_id,type,promotion_id,promotion_name,start_time,end_time,discount,pic,state,seller_id,get_time,use_time,order_id )
		values (#{id},#{userId},#{type},#{promotionId},#{promotionName},#{startTime},#{endTime},#{discount},#{pic},#{state},#{sellerId},#{getTime},#{useTime},#{orderId})
	</insert>

    <update id="put">
        update member_coupons
        <set>
				id = #{id},
				user_id = #{userId},
				type = #{type},
				promotion_id = #{promotionId},
				promotion_name = #{promotionName},
				start_time = #{startTime},
				end_time = #{endTime},
				discount = #{discount},
				pic = #{pic},
				state = #{state},
				seller_id = #{sellerId},
				get_time = #{getTime},
				use_time = #{useTime},
				order_id = #{orderId},
        </set>
        where id = #{id} 
    </update>

</mapper>