<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.MemberAddressWriteDao">
	
	<insert id="post">
		insert into member_address (id,member_id,member_name,province_id,city_id,area_id,town_id,longitude,latitude,town,address_info,house_no,name,mobile,phone,email,zip_code,state,create_time,update_time )
		values (#{id},#{memberId},#{memberName},#{provinceId},#{cityId},#{areaId},#{townId},#{longitude},#{latitude},#{town},#{addressInfo},#{houseNo},#{name},#{mobile},#{phone},#{email},#{zipCode},#{state},#{createTime},#{updateTime})
	</insert>

    <update id="put">
        update member_address
        <set>
				id = #{id},
				member_id = #{memberId},
				member_name = #{memberName},
				province_id = #{provinceId},
				city_id = #{cityId},
				area_id = #{areaId},
				town_id = #{townId},
				longitude = #{longitude},
				latitude = #{latitude},
				town = #{town},
				address_info = #{addressInfo},
				house_no = #{houseNo},
				name = #{name},
				mobile = #{mobile},
				phone = #{phone},
				email = #{email},
				zip_code = #{zipCode},
				state = #{state},
				create_time = #{createTime},
				update_time = #{updateTime},
        </set>
        where id = #{id} 
    </update>

</mapper>