<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.MemberCollectionSellerWriteDao">
	
	<insert id="post">
		insert into member_collection_seller (id,member_id,seller_id,create_time,update_time,state )
		values (#{id},#{memberId},#{sellerId},#{createTime},#{updateTime},#{state})
	</insert>

    <update id="put">
        update member_collection_seller
        <set>
				id = #{id},
				member_id = #{memberId},
				seller_id = #{sellerId},
				create_time = #{createTime},
				update_time = #{updateTime},
				state = #{state},
        </set>
        where id = #{id} 
    </update>

</mapper>