<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.MemberWriteDao">
	
	<insert id="post">
		insert into member (id,name,password,grade,grade_value,integral,register_time,last_login_time,last_login_ip,login_number,last_address_id,last_payment_code,gender,birthday,email,qq,mobile,phone,pwd_err_count,source,balance,balance_pwd,is_email_verify,is_sms_verify,sms_verify_code,email_verify_code,can_receive_sms,can_receive_email,status,update_time,avatar,open_id,sopen_id,session_id,push_id )
		values (#{id},#{name},#{password},#{grade},#{gradeValue},#{integral},#{registerTime},#{lastLoginTime},#{lastLoginIp},#{loginNumber},#{lastAddressId},#{lastPaymentCode},#{gender},#{birthday},#{email},#{qq},#{mobile},#{phone},#{pwdErrCount},#{source},#{balance},#{balancePwd},#{isEmailVerify},#{isSmsVerify},#{smsVerifyCode},#{emailVerifyCode},#{canReceiveSms},#{canReceiveEmail},#{status},#{updateTime},#{avatar},#{openId},#{sopenId},#{sessionId},#{pushId})
	</insert>

    <update id="put">
        update member
        <set>
				id = #{id},
				name = #{name},
				password = #{password},
				grade = #{grade},
				grade_value = #{gradeValue},
				integral = #{integral},
				register_time = #{registerTime},
				last_login_time = #{lastLoginTime},
				last_login_ip = #{lastLoginIp},
				login_number = #{loginNumber},
				last_address_id = #{lastAddressId},
				last_payment_code = #{lastPaymentCode},
				gender = #{gender},
				birthday = #{birthday},
				email = #{email},
				qq = #{qq},
				mobile = #{mobile},
				phone = #{phone},
				pwd_err_count = #{pwdErrCount},
				source = #{source},
				balance = #{balance},
				balance_pwd = #{balancePwd},
				is_email_verify = #{isEmailVerify},
				is_sms_verify = #{isSmsVerify},
				sms_verify_code = #{smsVerifyCode},
				email_verify_code = #{emailVerifyCode},
				can_receive_sms = #{canReceiveSms},
				can_receive_email = #{canReceiveEmail},
				status = #{status},
				update_time = #{updateTime},
				avatar = #{avatar},
				open_id = #{openId},
				sopen_id = #{sopenId},
				session_id = #{sessionId},
				push_id = #{pushId},
        </set>
        where id = #{id} 
    </update>

</mapper>