<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.OperateApplyWriteDao">
	
	<insert id="post">
		insert into operate_apply (operate_apply_id,user_type,apply_user_id,operate_type,content,status,feedback,update_time,create_time )
		values (#{operateApplyId},#{userType},#{applyUserId},#{operateType},#{content},#{status},#{feedback},#{updateTime},#{createTime})
	</insert>

    <update id="put">
        update operate_apply
        <set>
				operate_apply_id = #{operateApplyId},
				user_type = #{userType},
				apply_user_id = #{applyUserId},
				operate_type = #{operateType},
				content = #{content},
				status = #{status},
				feedback = #{feedback},
				update_time = #{updateTime},
				create_time = #{createTime},
        </set>
        where operate_apply_id = #{operateApplyId} 
    </update>

</mapper>