<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.OrdersWriteDao">
	
	<insert id="post">
		insert into orders (id,order_sn,relation_order_sn,order_type,seller_id,member_id,member_name,order_state,pay_time,payment_status,invoice_status,invoice_title,invoice_type,money_product,money_logistics,money_order,money_paid_balance,money_paid_reality,money_coupon,money_act_full,money_discount,money_back,money_integral,integral,coupon_user_id,act_full_id,ip,payment_name,payment_code,name,province_id,city_id,area_id,town,address_info,house_no,house_name,mobile,email,zip_code,remark,deliver_time,finish_time,trade_sn,source,logistics_id,logistics_name,logistics_number,is_codconfim,codconfirm_id,codconfirm_name,codconfirm_time,codconfirm_remark,codconfirm_state,create_time,update_time,delivery_time,delivery_type,get_code,withdraw_id,active )
		values (#{id},#{orderSn},#{relationOrderSn},#{orderType},#{sellerId},#{memberId},#{memberName},#{orderState},#{payTime},#{paymentStatus},#{invoiceStatus},#{invoiceTitle},#{invoiceType},#{moneyProduct},#{moneyLogistics},#{moneyOrder},#{moneyPaidBalance},#{moneyPaidReality},#{moneyCoupon},#{moneyActFull},#{moneyDiscount},#{moneyBack},#{moneyIntegral},#{integral},#{couponUserId},#{actFullId},#{ip},#{paymentName},#{paymentCode},#{name},#{provinceId},#{cityId},#{areaId},#{town},#{addressInfo},#{houseNo},#{houseName},#{mobile},#{email},#{zipCode},#{remark},#{deliverTime},#{finishTime},#{tradeSn},#{source},#{logisticsId},#{logisticsName},#{logisticsNumber},#{isCodconfim},#{codconfirmId},#{codconfirmName},#{codconfirmTime},#{codconfirmRemark},#{codconfirmState},#{createTime},#{updateTime},#{deliveryTime},#{deliveryType},#{getCode},#{withdrawId},#{active})
	</insert>

    <update id="put">
        update orders
        <set>
				id = #{id},
				order_sn = #{orderSn},
				relation_order_sn = #{relationOrderSn},
				order_type = #{orderType},
				seller_id = #{sellerId},
				member_id = #{memberId},
				member_name = #{memberName},
				order_state = #{orderState},
				pay_time = #{payTime},
				payment_status = #{paymentStatus},
				invoice_status = #{invoiceStatus},
				invoice_title = #{invoiceTitle},
				invoice_type = #{invoiceType},
				money_product = #{moneyProduct},
				money_logistics = #{moneyLogistics},
				money_order = #{moneyOrder},
				money_paid_balance = #{moneyPaidBalance},
				money_paid_reality = #{moneyPaidReality},
				money_coupon = #{moneyCoupon},
				money_act_full = #{moneyActFull},
				money_discount = #{moneyDiscount},
				money_back = #{moneyBack},
				money_integral = #{moneyIntegral},
				integral = #{integral},
				coupon_user_id = #{couponUserId},
				act_full_id = #{actFullId},
				ip = #{ip},
				payment_name = #{paymentName},
				payment_code = #{paymentCode},
				name = #{name},
				province_id = #{provinceId},
				city_id = #{cityId},
				area_id = #{areaId},
				town = #{town},
				address_info = #{addressInfo},
				house_no = #{houseNo},
				house_name = #{houseName},
				mobile = #{mobile},
				email = #{email},
				zip_code = #{zipCode},
				remark = #{remark},
				deliver_time = #{deliverTime},
				finish_time = #{finishTime},
				trade_sn = #{tradeSn},
				source = #{source},
				logistics_id = #{logisticsId},
				logistics_name = #{logisticsName},
				logistics_number = #{logisticsNumber},
				is_codconfim = #{isCodconfim},
				codconfirm_id = #{codconfirmId},
				codconfirm_name = #{codconfirmName},
				codconfirm_time = #{codconfirmTime},
				codconfirm_remark = #{codconfirmRemark},
				codconfirm_state = #{codconfirmState},
				create_time = #{createTime},
				update_time = #{updateTime},
				delivery_time = #{deliveryTime},
				delivery_type = #{deliveryType},
				get_code = #{getCode},
				withdraw_id = #{withdrawId},
				active = #{active},
        </set>
        where id = #{id} 
    </update>

</mapper>