<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.OrderLogWriteDao">
	
	<insert id="post">
		insert into order_log (id,operating_id,operating_name,orders_id,orders_sn,content,create_time )
		values (#{id},#{operatingId},#{operatingName},#{ordersId},#{ordersSn},#{content},#{createTime})
	</insert>

    <update id="put">
        update order_log
        <set>
				id = #{id},
				operating_id = #{operatingId},
				operating_name = #{operatingName},
				orders_id = #{ordersId},
				orders_sn = #{ordersSn},
				content = #{content},
				create_time = #{createTime},
        </set>
        where id = #{id} 
    </update>

</mapper>