<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.PartnerWriteDao">
	
	<insert id="post">
		insert into partner (partner_id,member_id,real_name,invite_code,partner_status,update_time,create_time )
		values (#{partnerId},#{memberId},#{realName},#{inviteCode},#{partnerStatus},#{updateTime},#{createTime})
	</insert>

    <update id="put">
        update partner
        <set>
				partner_id = #{partnerId},
				member_id = #{memberId},
				real_name = #{realName},
				invite_code = #{inviteCode},
				partner_status = #{partnerStatus},
				update_time = #{updateTime},
				create_time = #{createTime},
        </set>
        where partner_id = #{partnerId} 
    </update>

</mapper>