<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.PartnerCityWriteDao">
	
	<insert id="post">
		insert into partner_city (pc_id,pc_city,pc_area,admin_id,create_time )
		values (#{pcId},#{pcCity},#{pcArea},#{adminId},#{createTime})
	</insert>

    <update id="put">
        update partner_city
        <set>
				pc_id = #{pcId},
				pc_city = #{pcCity},
				pc_area = #{pcArea},
				admin_id = #{adminId},
				create_time = #{createTime},
        </set>
        where pc_id = #{pcId} 
    </update>

</mapper>