<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.ProductCateWriteDao">
	
	<insert id="post">
		insert into product_cate (id,product_type_id,type,pid,name,path,pic,scaling,create_id,update_id,create_time,update_time,sort,status,grade )
		values (#{id},#{productTypeId},#{type},#{pid},#{name},#{path},#{pic},#{scaling},#{createId},#{updateId},#{createTime},#{updateTime},#{sort},#{status},#{grade})
	</insert>

    <update id="put">
        update product_cate
        <set>
				id = #{id},
				product_type_id = #{productTypeId},
				type = #{type},
				pid = #{pid},
				name = #{name},
				path = #{path},
				pic = #{pic},
				scaling = #{scaling},
				create_id = #{createId},
				update_id = #{updateId},
				create_time = #{createTime},
				update_time = #{updateTime},
				sort = #{sort},
				status = #{status},
				grade = #{grade},
        </set>
        where id = #{id} 
    </update>

</mapper>