<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.ProductCommentsWriteDao">
	
	<insert id="post">
		insert into product_comments (id,user_id,user_name,pic,grade,content,product_id,product_goods_id,seller_id,reply_id,reply_name,reply_content,state,update_time,create_time )
		values (#{id},#{userId},#{userName},#{pic},#{grade},#{content},#{productId},#{productGoodsId},#{sellerId},#{replyId},#{replyName},#{replyContent},#{state},#{updateTime},#{createTime})
	</insert>

    <update id="put">
        update product_comments
        <set>
				id = #{id},
				user_id = #{userId},
				user_name = #{userName},
				pic = #{pic},
				grade = #{grade},
				content = #{content},
				product_id = #{productId},
				product_goods_id = #{productGoodsId},
				seller_id = #{sellerId},
				reply_id = #{replyId},
				reply_name = #{replyName},
				reply_content = #{replyContent},
				state = #{state},
				update_time = #{updateTime},
				create_time = #{createTime},
        </set>
        where id = #{id} 
    </update>

</mapper>