<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.PromotionAttendWriteDao">
	
	<insert id="post">
		insert into promotion_attend (promotion_attend_id,promotion_id,product_code,seller_id,member_id,num,is_valid,order_sn,create_time )
		values (#{promotionAttendId},#{promotionId},#{productCode},#{sellerId},#{memberId},#{num},#{isValid},#{orderSn},#{createTime})
	</insert>

    <update id="put">
        update promotion_attend
        <set>
				promotion_attend_id = #{promotionAttendId},
				promotion_id = #{promotionId},
				product_code = #{productCode},
				seller_id = #{sellerId},
				member_id = #{memberId},
				num = #{num},
				is_valid = #{isValid},
				order_sn = #{orderSn},
				create_time = #{createTime},
        </set>
        where promotion_attend_id = #{promotionAttendId} 
    </update>

</mapper>