<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.PromotionAlarmWriteDao">
	
	<insert id="post">
		insert into promotion_alarm (promotion_alarm_id,promotion_id,seller_id,product_code,alarm_value,create_time )
		values (#{promotionAlarmId},#{promotionId},#{sellerId},#{productCode},#{alarmValue},#{createTime})
	</insert>

    <update id="put">
        update promotion_alarm
        <set>
				promotion_alarm_id = #{promotionAlarmId},
				promotion_id = #{promotionId},
				seller_id = #{sellerId},
				product_code = #{productCode},
				alarm_value = #{alarmValue},
				create_time = #{createTime},
        </set>
        where promotion_alarm_id = #{promotionAlarmId} 
    </update>

</mapper>