<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejavashop.dao.shop.write.provider.ProviderRolesWriteDao">
	
	<delete id="deleteProviderRolesById" parameterType="java.lang.Integer">
		delete from provider_roles
		where provider_roles_id = #{providerRolesId}
	</delete>
	
	<insert id="post">
		insert into provider_roles (provider_roles_id,provider_id,provider_roles_name,provider_roles_code,content,status,create_user_id,create_time,update_user_id,update_time,modify_time )
		values (#{providerRolesId},#{providerId},#{providerRolesName},#{providerRolesCode},#{content},#{status},#{createUserId},#{createTime},#{updateUserId},#{updateTime},#{modifyTime})
	</insert>
	
	 <update id="put">
        update provider_roles
        <set>
				provider_roles_id = #{providerRolesId},
				provider_id = #{providerId},
				provider_roles_name = #{providerRolesName},
				provider_roles_code = #{providerRolesCode},
				content = #{content},
				status = #{status},
				create_user_id = #{createUserId},
				create_time = #{createTime},
				update_user_id = #{updateUserId},
				update_time = #{updateTime},
				modify_time = #{modifyTime},
        </set>
        where provider_roles_id = #{providerRolesId} 
    </update>

</mapper>