<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.RegionsWriteDao">
	
	<insert id="post">
		insert into regions (id,parentId,regionName,parentPath,firstLetter,regionType,agencyId,shippingId,visible,rowId )
		values (#{id},#{parentId},#{regionName},#{parentPath},#{firstLetter},#{regionType},#{agencyId},#{shippingId},#{visible},#{rowId})
	</insert>

    <update id="put">
        update regions
        <set>
				id = #{id},
				parentId = #{parentId},
				regionName = #{regionName},
				parentPath = #{parentPath},
				firstLetter = #{firstLetter},
				regionType = #{regionType},
				agencyId = #{agencyId},
				shippingId = #{shippingId},
				visible = #{visible},
				rowId = #{rowId},
        </set>
        where id = #{id} 
    </update>

</mapper>