<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SearchSettingWriteDao">
	
	<insert id="post">
		insert into search_setting (id,keyword,keyword_filter,index_product_id,index_product_time,update_time )
		values (#{id},#{keyword},#{keywordFilter},#{indexProductId},#{indexProductTime},#{updateTime})
	</insert>

    <update id="put">
        update search_setting
        <set>
				id = #{id},
				keyword = #{keyword},
				keyword_filter = #{keywordFilter},
				index_product_id = #{indexProductId},
				index_product_time = #{indexProductTime},
				update_time = #{updateTime},
        </set>
        where id = #{id} 
    </update>

</mapper>