<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SearchKeywordWriteDao">
	
	<insert id="post">
		insert into search_keyword (id,keyword,create_time,create_id,create_name,update_time )
		values (#{id},#{keyword},#{createTime},#{createId},#{createName},#{updateTime})
	</insert>

    <update id="put">
        update search_keyword
        <set>
				id = #{id},
				keyword = #{keyword},
				create_time = #{createTime},
				create_id = #{createId},
				create_name = #{createName},
				update_time = #{updateTime},
        </set>
        where id = #{id} 
    </update>

</mapper>