<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SellerWriteDao">
	
	<insert id="post">
		insert into seller (id,member_id,name,seller_name,seller_logo,seller_grade,score_service,score_deliver_goods,score_description,product_number,collection_number,create_time,sale_money,order_count,order_count_over,seller_keyword,seller_des,audit_status,store_slide,qrcode,delivery_time,is_delivery,initial_fee,delivery_fee,initial_delivery_fee,push_time,open_id,alipay,alipay_name )
		values (#{id},#{memberId},#{name},#{sellerName},#{sellerLogo},#{sellerGrade},#{scoreService},#{scoreDeliverGoods},#{scoreDescription},#{productNumber},#{collectionNumber},#{createTime},#{saleMoney},#{orderCount},#{orderCountOver},#{sellerKeyword},#{sellerDes},#{auditStatus},#{storeSlide},#{qrcode},#{deliveryTime},#{isDelivery},#{initialFee},#{deliveryFee},#{initialDeliveryFee},#{pushTime},#{openId},#{alipay},#{alipayName})
	</insert>

    <update id="put">
        update seller
        <set>
				id = #{id},
				member_id = #{memberId},
				name = #{name},
				seller_name = #{sellerName},
				seller_logo = #{sellerLogo},
				seller_grade = #{sellerGrade},
				score_service = #{scoreService},
				score_deliver_goods = #{scoreDeliverGoods},
				score_description = #{scoreDescription},
				product_number = #{productNumber},
				collection_number = #{collectionNumber},
				create_time = #{createTime},
				sale_money = #{saleMoney},
				order_count = #{orderCount},
				order_count_over = #{orderCountOver},
				seller_keyword = #{sellerKeyword},
				seller_des = #{sellerDes},
				audit_status = #{auditStatus},
				store_slide = #{storeSlide},
				qrcode = #{qrcode},
				delivery_time = #{deliveryTime},
				is_delivery = #{isDelivery},
				initial_fee = #{initialFee},
				delivery_fee = #{deliveryFee},
				initial_delivery_fee = #{initialDeliveryFee},
				push_time = #{pushTime},
				open_id = #{openId},
				alipay = #{alipay},
				alipay_name = #{alipayName},
        </set>
        where id = #{id} 
    </update>

</mapper>