<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SellerUserWriteDao">
	
	<insert id="post">
		insert into seller_user (id,name,password,code,real_name,phone,job,seller_id,role_id,state,create_id,create_time,update_id,update_time,source,session_id,push_id )
		values (#{id},#{name},#{password},#{code},#{realName},#{phone},#{job},#{sellerId},#{roleId},#{state},#{createId},#{createTime},#{updateId},#{updateTime},#{source},#{sessionId},#{pushId})
	</insert>

    <update id="put">
        update seller_user
        <set>
				id = #{id},
				name = #{name},
				password = #{password},
				code = #{code},
				real_name = #{realName},
				phone = #{phone},
				job = #{job},
				seller_id = #{sellerId},
				role_id = #{roleId},
				state = #{state},
				create_id = #{createId},
				create_time = #{createTime},
				update_id = #{updateId},
				update_time = #{updateTime},
				source = #{source},
				session_id = #{sessionId},
				push_id = #{pushId},
        </set>
        where id = #{id} 
    </update>

</mapper>