<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SupplierUserWriteDao">
	
	<insert id="post">
		insert into supplier_user (id,name,password,code,real_name,phone,job,supplier_id,role_id,state,create_id,create_time,update_id,update_time )
		values (#{id},#{name},#{password},#{code},#{realName},#{phone},#{job},#{supplierId},#{roleId},#{state},#{createId},#{createTime},#{updateId},#{updateTime})
	</insert>

    <update id="put">
        update supplier_user
        <set>
				id = #{id},
				name = #{name},
				password = #{password},
				code = #{code},
				real_name = #{realName},
				phone = #{phone},
				job = #{job},
				supplier_id = #{supplierId},
				role_id = #{roleId},
				state = #{state},
				create_id = #{createId},
				create_time = #{createTime},
				update_id = #{updateId},
				update_time = #{updateTime},
        </set>
        where id = #{id} 
    </update>

</mapper>