<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SupplierApplyWriteDao">
	
	<insert id="post">
		insert into supplier_apply (id,user_id,name,password,company,description,bussiness_license,tax_license,company_province,company_city,company_area,company_town,longitude,latitude,company_start_time,company_end_time,company_add,telephone,fax,bussiness_license_image,organization,bank_user,bank_name,bank_name_branch,brand_name_code,bank_code,bank_province,bank_city,bank_pic,legal_person,legal_person_card,idcard_pic,person_phone,email,state,type,opt_id,has_refrigerater,bond,create_time,update_time,supplier_applycol )
		values (#{id},#{userId},#{name},#{password},#{company},#{description},#{bussinessLicense},#{taxLicense},#{companyProvince},#{companyCity},#{companyArea},#{companyTown},#{longitude},#{latitude},#{companyStartTime},#{companyEndTime},#{companyAdd},#{telephone},#{fax},#{bussinessLicenseImage},#{organization},#{bankUser},#{bankName},#{bankNameBranch},#{brandNameCode},#{bankCode},#{bankProvince},#{bankCity},#{bankPic},#{legalPerson},#{legalPersonCard},#{idcardPic},#{personPhone},#{email},#{state},#{type},#{optId},#{hasRefrigerater},#{bond},#{createTime},#{updateTime},#{supplierApplycol})
	</insert>

    <update id="put">
        update supplier_apply
        <set>
				id = #{id},
				user_id = #{userId},
				name = #{name},
				password = #{password},
				company = #{company},
				description = #{description},
				bussiness_license = #{bussinessLicense},
				tax_license = #{taxLicense},
				company_province = #{companyProvince},
				company_city = #{companyCity},
				company_area = #{companyArea},
				company_town = #{companyTown},
				longitude = #{longitude},
				latitude = #{latitude},
				company_start_time = #{companyStartTime},
				company_end_time = #{companyEndTime},
				company_add = #{companyAdd},
				telephone = #{telephone},
				fax = #{fax},
				bussiness_license_image = #{bussinessLicenseImage},
				organization = #{organization},
				bank_user = #{bankUser},
				bank_name = #{bankName},
				bank_name_branch = #{bankNameBranch},
				brand_name_code = #{brandNameCode},
				bank_code = #{bankCode},
				bank_province = #{bankProvince},
				bank_city = #{bankCity},
				bank_pic = #{bankPic},
				legal_person = #{legalPerson},
				legal_person_card = #{legalPersonCard},
				idcard_pic = #{idcardPic},
				person_phone = #{personPhone},
				email = #{email},
				state = #{state},
				type = #{type},
				opt_id = #{optId},
				has_refrigerater = #{hasRefrigerater},
				bond = #{bond},
				create_time = #{createTime},
				update_time = #{updateTime},
				supplier_applycol = #{supplierApplycol},
        </set>
        where id = #{id} 
    </update>

</mapper>