<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SupplierProductWriteDao">
	
	<insert id="post">
		insert into supplier_product (id,product_cate_id,name1,name2,keyword,product_brand_id,is_self,cost_price,protected_price,market_price,mall_pc_price,mal_mobile_price,virtual_sales,actual_sales,product_stock,is_norm,norm_ids,norm_name,state,is_top,up_time,description,packing,seller_id,create_id,create_time,update_time,seller_cate_id,seller_is_top,seller_state,comments_number,product_cate_state,is_invented_product,transport_id,master_img,product_code,sku )
		values (#{id},#{productCateId},#{name1},#{name2},#{keyword},#{productBrandId},#{isSelf},#{costPrice},#{protectedPrice},#{marketPrice},#{mallPcPrice},#{malMobilePrice},#{virtualSales},#{actualSales},#{productStock},#{isNorm},#{normIds},#{normName},#{state},#{isTop},#{upTime},#{description},#{packing},#{sellerId},#{createId},#{createTime},#{updateTime},#{sellerCateId},#{sellerIsTop},#{sellerState},#{commentsNumber},#{productCateState},#{isInventedProduct},#{transportId},#{masterImg},#{productCode},#{sku})
	</insert>

    <update id="put">
        update supplier_product
        <set>
				id = #{id},
				product_cate_id = #{productCateId},
				name1 = #{name1},
				name2 = #{name2},
				keyword = #{keyword},
				product_brand_id = #{productBrandId},
				is_self = #{isSelf},
				cost_price = #{costPrice},
				protected_price = #{protectedPrice},
				market_price = #{marketPrice},
				mall_pc_price = #{mallPcPrice},
				mal_mobile_price = #{malMobilePrice},
				virtual_sales = #{virtualSales},
				actual_sales = #{actualSales},
				product_stock = #{productStock},
				is_norm = #{isNorm},
				norm_ids = #{normIds},
				norm_name = #{normName},
				state = #{state},
				is_top = #{isTop},
				up_time = #{upTime},
				description = #{description},
				packing = #{packing},
				seller_id = #{sellerId},
				create_id = #{createId},
				create_time = #{createTime},
				update_time = #{updateTime},
				seller_cate_id = #{sellerCateId},
				seller_is_top = #{sellerIsTop},
				seller_state = #{sellerState},
				comments_number = #{commentsNumber},
				product_cate_state = #{productCateState},
				is_invented_product = #{isInventedProduct},
				transport_id = #{transportId},
				master_img = #{masterImg},
				product_code = #{productCode},
				sku = #{sku},
        </set>
        where id = #{id} 
    </update>

</mapper>