<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SystemConfigWriteDao">
	
	<insert id="post">
		insert into system_config (id,type,small_type,content,update_time,create_time )
		values (#{id},#{type},#{smallType},#{content},#{updateTime},#{createTime})
	</insert>

    <update id="put">
        update system_config
        <set>
				id = #{id},
				type = #{type},
				small_type = #{smallType},
				content = #{content},
				update_time = #{updateTime},
				create_time = #{createTime},
        </set>
        where id = #{id} 
    </update>

</mapper>