<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzl.dao.javashop.write.SystemLogsWriteDao">
	
	<insert id="post">
		insert into system_logs (id,opt_id,opt_name,opt_content,create_time,member_rule_id,opt_object,opt_object_id )
		values (#{id},#{optId},#{optName},#{optContent},#{createTime},#{memberRuleId},#{optObject},#{optObjectId})
	</insert>

    <update id="put">
        update system_logs
        <set>
				id = #{id},
				opt_id = #{optId},
				opt_name = #{optName},
				opt_content = #{optContent},
				create_time = #{createTime},
				member_rule_id = #{memberRuleId},
				opt_object = #{optObject},
				opt_object_id = #{optObjectId},
        </set>
        where id = #{id} 
    </update>

</mapper>